<index>
  <div class="landing">
    <button class="intro-btn" type="button" onclick={showIntro}>活动说明</button>
    <button class="lottery-btn" type="button" onclick={gotoLottery}>抽奖</button>
  </div>
  <div class="news">
    <ul>
      <li class="item" each={ i, item in news }>
        <item data={ item }></item>
      </li>
    </ul>
  </div>
  <rg-modal modal="{ modal }"><p>活动说明1</p><p>活动说明2</p><p>活动说明3</p><p>活动说明4</p></rg-modal>
  <rg-loading show="{ loading }">
		Please wait...
	</rg-loading>
  <script>
  require('./components/item.html')
  require('./components/rg-modal.html')
  require('./components/rg-loading.html')

  var store = require('../store')
  var self = this
  self.news = {}
  self.modal = {}
  self.loading = false
  self.body = ""

  fetchNews() {
    store.fetchNews(function (items) {
      self.news = items
      self.update()
    })
  }

  self.on('mount', function() {
    self.modal = {
  		heading: '活动说明',
  		visible: false,
      body: '',
  		buttons: [
  			{ action: function () { self.modal.visible = false; }, text: 'Ok', style: 'color: white; background-color: #1fadc5; border-radius: 3px;' }
  		]
  	}
    self.fetchNews()
    store.on('update', self.fetchNews)
  })

  self.on('unmount', function() {
    store.removeListener('update', self.fetchNews)
  })

  gotoLottery() {
    self.loading = true
    setTimeout(function(){
      self.loading = false
      riot.route('lottery');
    },3000)
  }

  showIntro() {
    self.modal.visible = true
  }
  </script>
</index>
