@import "sass/typo.scss";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 20px;
  h1 {
    font-size: 20px;
    line-height: 40px;
    color: #fff;
  }
}
#wrap {
  padding: 50px 15px 0;
}
.landing {
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin-right: 5px;
  }
}
