<raw>
  <span></span>
  <script>
  this.root.innerHTML = opts.content
  </script>
</raw>
<jk-modal>
  <div class="modal-wrap">
    <div class="overlay" if="{ opts.modal.visible }" onclick="{ close }"></div>
    <div class="modal" if="{ opts.modal.visible }">
      <header class="header">
        <button type="button" class="close" aria-label="Close" onclick="{ close }">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="heading">{ opts.modal.heading }</h3>
      </header>
      <div class="body"><raw content="{ opts.modal.body }"/></div>
      <footer class="footer">
        <button class="button" each="{ opts.modal.buttons }" type="button" onclick="{ action }" riot-style="{ style }"> { text } </button>
      </footer>
    </div>
  </div>
  <script>
  var self = this;
  close(e) {
		opts.modal.visible = false;
		if (opts.modal.onclose) {
			opts.modal.onclose(e);
		}
	};
  </script>
</jk-modal>
